/*
font info:
    family - Helvetica, Arial, sans-serif
    line-height - 1.6


colors:
    light gray - ##eee
    gray - #dddddd
    yellow - #ffd24a
    orange - #ff8523
    blue - #1fabe5
    dark blue - #046c97
*/

* {
    font-family: Helvetica, Arial, sans-serf;
    line-height: 1.6em;
}

body {
    background-image: url("img/bg.jpg");
    margin: 0;
}

.body-wrapper {
    max-width: auto;
    margin: 15px 100px;
    border-style: solid;
    border-color: #ffd24a;
    border-radius: 5px;
    border-width: .2rem;
}

div header {
    background-color: #ff8523;
    padding: 10px 10px 10px 15px;
}

.main_navigation a {
    color: white;
    border-style: solid;
    border-color: white;
    border-radius: 5px;
    border-width: .05em;
    text-decoration: none;
    padding: .5em 1.5em;
    vertical-align: 2em;
}

#page_content {
    background-color: white;
    padding: 35px 15px 0 15px;
}

h2 {
    color: #1fabe5;
}

h3 {
    color: #1fabe5;
}

p a {
    color: #1fabe5;
}

li {
    font-weight: bold;
    line-height: 1.8rem;
    margin-left: -20px;
}

section {
    border-bottom: solid #eee;
    padding-bottom: 40px;
    border-width: thick;
}

table {
    width: 100%;
}

table, td {
    border: 1px solid #1fabe5;
    border-collapse: collapse;
}

tbody td {
    padding: 10px;
}

tbody td img {
    height: 50px;
}

thead td {
    background-color: #1fabe5;
    color: #fff;
    border: 1px solid #046c97;
    padding: 10px;
}

form {
    border-style: solid #eee;
    background-color: #eee;
    border-radius: 1em;
    padding: 30px;
}

.name {
    border-style: solid #ff8523;
    background-color: #ff8523;
    border-radius: .5em;
    padding: 18px;
    color: white;
}

.city_container {
    font-weight: bold;
    padding: 30px 0 30px 0;
}

label {
    font-weight: bold;
    padding: 0 2px;
}

.name input {
    width: 370px;
    height: 40px;
}

.name label {
    padding: 0 10px 0 0;
}

#bio {
    border-style: solid;
    border-color: #1fabe5;
    width: 98%;
    height: 200px;
    margin: 20px 0 10px 0;
    padding: 10px;
    font-weight: 400;
    font-size: 16px;
}

#submit_button {
    border-style: solid;
    border-color: #1fabe5;
    background-color: #1fabe5;
    color: white;
    border-radius: .2em;
    padding: 7px 19px;
    text-transform: uppercase;
}